
<br>
<div class="container">

  <h2 style="text-align: center;">Modal app</h2>

  <div style="text-align: center;">
    <button  class="button btn btn-primary" (click)="open(content)">Open modal</button>
  </div>

  <div>{{ closeResult }}</div>
</div>
<router-outlet></router-outlet>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>